.table-wrapper{
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.metrics-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.metrics-table td, .metrics-table th {
  text-align: center;
  padding: 8px;
}

.metrics-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.metrics-table thead th {
  color: #ffffff;
  background: #4FC3A1;
}


.metrics-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.metrics-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
  .metrics-table {
    display: block;
    width: 100%;
  }
  .table-wrapper:before{
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .metrics-table thead, .metrics-table tbody, .metrics-table thead th {
    display: block;
  }
  .metrics-table thead th:last-child{
    border-bottom: none;
  }
  .metrics-table thead {
    float: left;
  }
  .metrics-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .metrics-table td, .metrics-table th {
    padding: 20px .625em .625em .625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .metrics-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .metrics-table tbody tr {
    display: table-cell;
    cursor: pointer;
  }
  .metrics-table tbody tr:nth-child(odd) {
    background: none;
  }
  .metrics-table tr:nth-child(even) {
    background: transparent;
  }
  .metrics-table tr td:nth-child(odd) {
    background: #F8F8F8;
    border-right: 1px solid #E6E4E4;
  }
  .metrics-table tr td:nth-child(even) {
    border-right: 1px solid #E6E4E4;
  }
  .metrics-table tbody td {
    display: block;
    text-align: center;
  }
}

.select-category {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}    .select-category select {
       font-family: 'Arial';
       display: inline-block;
       width: 100%;
       cursor: pointer;
       padding: 10px 15px;
       outline: 0;
       border: 0px solid #000000;
       box-shadow: 0px 1px 20px rgb(0 0 0 / 20%);
       border-radius: 0px;
       background: #d7d7d7;
       color: #7b7b7b;
       appearance: none;
       -webkit-appearance: none;
       -moz-appearance: none;
     }
.select-category select::-ms-expand {
  display: none;
}
.select-category select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select-category-arrow {
  position: absolute;
  top: 48px;
  right: 15px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select-category select:hover ~ .select-category-arrow,
.select-category select:focus ~ .select-category-arrow {
  border-top-color: #000000;
}
.select-category select:disabled ~ .select-category-arrow {
  border-top-color: #cccccc;
}
