<h1>UI Metrics Tool</h1>
<hr>

<div class="select-category">
  <h3>Category</h3>
  <select [(ngModel)]="category">
    <option value="">Select</option>
    <option *ngFor="let cat of categories">{{cat}}</option>
  </select>
  <div class="select-category-arrow">
  </div>
</div>

<br/>

<div class="table-wrapper">
  <table class="metrics-table">
    <thead>
    <tr>
      <th *ngFor="let col of columns">{{col}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let metric of metrics | tableFilter: category" on-click="onRowElementClick(metric)">
      <td>{{metric.id}}</td>
      <td>{{metric.label}}</td>
      <td>{{metric.value}}</td>
      <td>{{metric.type}}</td>
      <td>{{metric.description}}</td>
      <td>{{metric.category}}</td>
    </tr>
    </tbody>
  </table>
</div>

<br/>

<app-bar-chart [item]="category" [data]="metrics"></app-bar-chart>
